:root {
	--primary-orange: #f7a600;
	--primary-dark: rgb(10, 10, 10);
	--primary-white: #fafafa;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* general */

html,
body {
	overflow-x: hidden;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: var(--primary-dark);
	color: #fff;
}

.container {
	padding: 0 1em;
}

img {
	display: block;
	max-width: 100%;
}

/* header */

.header {
	position: fixed;
	width: 100%;
	z-index: 10;
	background-color: var(--primary-dark);
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-link {
	text-decoration: none;
	color: var(--primary-orange);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.5rem;
}

/* navigation */

.nav {
	position: fixed;
	background: var(--primary-dark);
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 100%;
	transform: translateX(0);
	transition: transform 250ms;
}

.navigation-open {
	transform: translateX(-100%);
}

.nav-list {
	list-style: none;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.nav-link {
	color: var(--primary-orange);
	text-decoration: none;
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: color .3s ease-in-out;
}

.nav-link:hover,
.nav-link:focus,
.logo-link:hover,
.logo-link:focus {
	color: rgb(245, 245, 245);
}

.container .active {
	color: #fff;
	border-bottom: 3px solid;
}

/* for 'x'*/
.close-nav {
	border: 0;
	background: 0;
	color: var(--primary-orange);
	font-weight: 700;
	font-size: 4rem;
	cursor: pointer;
	padding: .25em;
	position: absolute;
}

/* hamburger */
.open-nav {
	color: var(--primary-orange);
	border: 0;
	background: 0;
	cursor: pointer;
	padding: .5em 0 .5em;
	margin-left: auto;
	font-size: 2.5em;
}

.close-nav,
.open-nav {
	outline: none;
}

/* footer */

footer {
	padding: 4rem 0;
	text-align: center;
}

footer a {
	display: inline-block;
	color: var(--primary-orange);
}

footer ul {
	list-style: none;
	padding: 0;
	margin: 4rem 0;
}

footer .nav-item {
	margin: 2rem;
}

footer .nav-link {
	font-size: 1.5rem;
	letter-spacing: 1px;
}

footer .social-links {
	margin-top: 2.3rem;
	font-size: 2rem;
}

footer .social-links a {
	margin-right: .25rem;
	transition: all .25s ease-in-out;
}

footer .social-links a:hover {
	color: #fff;
}

footer .social-link:last-of-type {
	margin-right: 0;
}

/* index.html */

.grid {
	display: grid;
}

.grid img {
	object-fit: cover;
}

.holder {
	overflow: hidden;
}

.holder img {
	transition: all .2s ease-in-out;
}

.trans img:hover {
	transform: scale(1.05);
}

.home {
	margin-top: 100px;
}

@media (min-width: 600px) {
	.open-nav,
	.close-nav {
		display: none;
	}

	.header {
		width: 100%;
		padding: 2em 0;
		height: 90px;
	}

	.nav {
		position: initial;
		width: initial;
	}

	.nav-list {
		flex-direction: row;
		justify-content: flex-start;
	}

	.nav-item {
		margin-left: 2em;
	}

	.nav-link,
	.logo-link {
		font-size: 1.5rem;
		color: var(--primary-orange);
	}

	.container {
		max-width: 1320px;
		padding: 0 2em;
		margin: 0 auto;
	}

	.home {
		margin-top: 80px;
	}

	.wall-container {
		background-color: #423e44;
	}

	.wall-container .img-holder {
		overflow: hidden;
	}

	.wall-middle,
	.wall-right {
		display: block;
	}

	.grid-wall {
		display: flex;
	}

	main .container {
		padding-top: 2em;
		padding-bottom: 2em;
	}

	.grid {
		grid-template-columns: repeat(2, auto);
	}

	.img-container {
		margin-bottom: 0;
	}
}

@media (min-width: 768px) {
	/* footer */

	footer {
		padding: 3em 0;
	}

	footer .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	footer .nav-item {
		margin: 1rem;
	}

	footer .logo-link {
		margin-bottom: 0;
	}

	footer .nav-links {
		display: flex;
		margin: 0;
	}

	footer .social-links {
		margin-top: 0;
		font-size: 2rem;
	}

	footer .social-links a {
		margin-right: .75em;
	}
}

@media (min-width: 1000px) {
	.wall-left {
		display: block;
		margin-top: 2px;
	}

	.grid-wall {
		max-width: 1360px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.grid {
		grid-template-columns: repeat(3, auto);
	}

	.flex {
		display: flex;
		flex-shrink: 1;
	}
}

/* record.html */

.period.container {
	display: block;
}

.grid-two-columns {
	margin-top: 150px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5em;
}

.grid-two-columns p,
.grid-two-columns h1 {
	color: #fff;
	margin-bottom: 1em;
}

.grid-two-columns p {
	/* font-family: 'Sedgwick Ave Display', cursive; */
	font-size: 19px;
	line-height: 1.6;
}

h1 {
	color: var(--primary-orange);
	font-size: 3rem;
}

p {
	font-size: 19px;
	margin-bottom: 1em;
	line-height: 1.6;
}

p:last-child {
	margin-bottom: 0;
}

.slider {
	color: white;
	display: flex;
	align-items: center;
	overflow: hidden;
}

#prev,
#next {
	margin-right: 8px;
	font-size: 28px;
	display: inline-block;
	padding: 6px 18px;
	border-radius: 50%;
	background: var(--primary-orange);
	transition: all .3s ease-in-out;
}

#prev:hover,
#next:hover {
	cursor: pointer;
	background: #fff;
	color: #000;
}

.preview {
	display: flex;
	align-items: center;
	margin: 2rem 0 1.25rem;
}

.preview img {
	width: 100px;
	height: 100px;
	margin-right: 12px;
	opacity: .7;
	cursor: pointer;
}

.preview img:hover {
	opacity: 1;
}

.preview .active {
	width: 100px;
	height: 100px;
	border: 3px solid #fff;
	opacity: 1;
}

.info-album {
	grid-column: 2 / -1;
}

.info-album h2 {
	margin-bottom: 1rem;
}
